@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  font-size: 20px;
  margin: auto;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family: 'Yuji Syuku', serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  table-layout: fixed;
  user-select: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('./media/background.webp');
  background-position: center;
  background-size: cover;
  z-index: 1;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: .3s;
  z-index: -1;
}

main {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  width: 90%;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 30px;
  z-index: 3;
}

#time {margin: 0 auto 1rem auto;}

.img-area {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.img-area img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img-area #kane {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.animation {animation: vibration 0.5s  infinite;}

@keyframes vibration {
  0% {transform: rotateZ(0deg)}
  25% {transform: rotateZ(1.5deg)}
  50% {transform: rotateZ(0deg)}
  75% {transform: rotateZ(-1.5deg)}
  100% {transform: rotateZ(0deg)}
}

a {text-decoration: none; color: #cccccc;}
a:hover {text-decoration: underline; color: #ffffff;}

@media screen and (max-width: 700px) {
  .background {
    background-image: url('./media/smp_background.webp');
  }
}